body {
    background-color: white;
  }
.container {
  background-color: white;
}
.error-404{
  background-color: aquamarine;
  color: #b40e5c;
}

// -----------------titulos-------

h1 ,h3, h5 {
  color: #039EE3;
}
h4, h2{
  color: #b40e5c;
  color: #f4f1ff;
}

.electricidad--aling{
  text-align: center;
}
.electricidad__img--alinng{
  text-align: center;
}

.electricidad__p{
    color: black;
    text-align: justify;
}


.comunicaciones--aling{
    text-align: center;
}

.comunicaciones__p{
  color: black;
    text-align: justify;
}

.electricidad__p--aling{
  text-align: justify;
   padding: 10px;
}

.row__footer--altura{
  height: 30px;
}


.footer{
  height: 180px;
  background-color: white;
  color:white;
  text-align: center;
  background:  linear-gradient(to top,  #ccc ,#039EE3);
  
  
  }
  pre{
    color:white ;
  }
 
 

  /*each para la imagenes de l index*/

 

                                               


