header {
    background-color: #039EE3;
    background-color: white;
    color:#039EE3;

  }

.inicio{
  text-align: center;
  background-color: #039EE3;

  // background:  linear-gradient(to top, blue ,#039EE3);
  // padding: 1px;
  }
 
